<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite_breadtrip">
        <parameter name="keyword" value="testing"/>
        
    <test name="test" preserve-order="true">
        <classes>
        	<class name="com.breadtrip.web.test.NewTest" />
        	
        </classes>
    </test>
</suite>

